<footer id="main-footer" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col text-center py-2">
        <h3 style="color: #ffd700">Ready Software Engineering Design</h3>
          <button class="btn btn-danger" onclick="window.location.href = 'https://sites.google.com/view/rsed/'">
              Check Out Our Website!
          </button>
      </div>
    </div>
  </div>
</footer>