<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Fancy Fonts, Icons, and Logos -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <!-- CSS StyleSheet -->
    <link rel="stylesheet" href="public/css/style.css" />

    <!-- Icon Title -->
    <title>OmNom Food Delivery</title>

    <!-- rSed Title Icon -->
    <link rel="icon" href="public\img\rSedLogo.png" type="image/icon type" />
  </head>

  <!-- Body -->
  <body>
    <!-- 
      navbar-expand-sm: aligns text on small screens or larger
      bg-danger: red background
      fixed-top: bar fixed to top --- remove??
     -->
    <nav
      class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top"
      id="main-nav"
    >
      <!-- 
        create a container class: follows a grid system of 12 columns across the page
      -->
      <div class="container col align-self-start">
        <!-- 
          a: defines a hyperlink
          href: hypertext reference          
          navbar-brand: brand of company
          clicking rSedFoodDelivery sends back to index.html        
        -->
        <a href="/"> <img src="public\img\rSedLogo.png" class="w-25"/></a>

        <!-- 
          makes a button appear to expand the navbar if screen is too small
        -->
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 
          collapse navbar-collapse: replaces the navigation on small screens with a button
        -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <!-- 
            navbar-nav: full-height and lightweight navigation
            ml-auto: pushes the navbars to the right
          -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item bg-dark">
              <a class="btn btn-outline-light" href="/testingRoute" role="button"
                >Data Dump</a
              >
            </li>
            <li class="nav-item">
              <a
                class="btn btn-outline-light mx-3"
                href="signin"
                role="button"
                >Sign In</a
              >
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-light" href="signup" role="button"
                >Sign Up</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header id="home-section">
      <div class="dark-overlay">
        <div class="home-inner container">
          <div class="row">
            <div class="d-lg-block">
              <h1 class="display-1 text-lg-center text-danger mb-3 font-weight-bold">
                OmNom Food Delivery
              </h1>

              <form class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center mt-5 mb-5">
                <input type="text" class="form-control mr-2" placeholder="Search"/>
                <button class="btn btn-outline-warning" style="margin-top: 25px">
                  Search for Noms
                </button>
              </form>

              <h2 class="display-4 text-lg-center font-weight-bold" style="color: #ffd700">
                Delivering food from <strong>ALL</strong> of your favorite
                resturants,
                <strong>GUARAN-FUCKING-DICK!</strong>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- FOOTER -->
    < % include ../partials/footer % >
  </body>
</html>
