<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Fancy Fonts, Icons, and Logos -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <!-- CSS StyleSheet -->
    <link rel="stylesheet" href="../public/css/style.css" />

    <!-- Icon Title -->
    <title>OmNom Food Delivery</title>

    <!-- rSed Title Icon -->
    <link rel="icon" href="../public/img/rSedLogo.png" type="image/icon type" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>

    <h1 align="center" style="padding-top: 75px; ">Asian</h1>

    <div id="container" class="cols" align="center">
      <div class="box">
        <a href="restaurantprofile/5e7da0e41a8f621d34aa277d" style="text-decoration: none;">
          <img
            src="https://s.yimg.com/ny/api/res/1.2/J1RhI2UnzNNQ2qcWVYlvDA--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/https://media.zenfs.com/en/delish_597/46c193e9225136f409bfbae3f58aa4ef"
            alt="Panda Express"
            class="image"
          />
          <div class="name">
            <p>Panda Express</p>
          </div>
        </a>
      </div>

      <div class="box">
        <a href="restaurantprofile/5e7da7f10c1894203ca8f79f" style="text-decoration: none;">
          <img
            src="https://media-exp1.licdn.com/dms/image/C4E1BAQFRDmM0nIbRmQ/company-background_10000/0?e=2159024400&v=beta&t=7AePiqXhIb28oZd2rEm-XlYNQjz_8bdX4W60St2lsrw"
            alt="Pick Up Stix"
            class="image"
          />
          <div class="name">
            <p>Pick Up Stix</p>
          </div>
        </a>
      </div>

      <div class="box">
        <a href="restaurantprofile/5e7db776457ce945e8f28f68" style="text-decoration: none;">
          <img
            src="https://cdn.vox-cdn.com/thumbor/3bWGDCuM7Hgf1SnWkJN7jQvahcU=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/13374719/PF_Chang_s_Dishes_2.jpg"
            alt="PF Chang's"
            class="image"
          />
          <div class="name">
            <p>PF Chang's</p>
          </div>
        </a>
      </div>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
