<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Fancy Fonts, Icons, and Logos -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <!-- CSS StyleSheet -->
    <link rel="stylesheet" href="../public/css/style.css" />

    <!-- Icon Title -->
    <title>OmNom Food Delivery</title>

    <!-- rSed Title Icon -->
    <link rel="icon" href="../public/img/rSedLogo.png" type="image/icon type" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>

    <h1 align="center" style="padding-top: 75px; ">Indian</h1>

    <div id="container" class="cols" align="center">
      <div class="box">
        <a href="restaurantprofile/5e7d8a9290a2fc3078e0b96c" style="text-decoration: none;">
          <img
            src="https://www.punjabitandoor.com/images/food.jpg"
            alt="Punjabi Tandoor"
            class="image"
          />
          <div class="name">
            <p>Punjabi Tandoor</p>
          </div>
        </a>
      </div>

      <div class="box">
        <a href="restaurantprofile/5e7d8b28a95fbe253cd7fff4" style="text-decoration: none;">
          <img
            src="https://www.gannett-cdn.com/presto/2019/10/28/PFTM/15a2507d-4ec0-4abc-abdd-fe0d223ee070-MasalaMantra.jpg?crop=2047,1152,x0,y0&width=1600&height=800&fit=bounds"
            alt="Mantra"
            class="image"
          />
          <div class="name">
            <p>Mantra Indian Cuisine</p>
          </div>
        </a>
      </div>

      <div class="box">
        <a href="restaurantprofile/5e7d8bb94d7e8c4564c559fe" style="text-decoration: none;">
          <img
            src="https://curryhutla.com/images/portfolio-3.jpg"
            alt="Curry Hut"
            class="image"
          />
          <div class="name">
            <p>Curry Hut</p>
          </div>
        </a>
      </div>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
