<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Fancy Fonts, Icons, and Logos -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <!-- CSS StyleSheet -->
    <link rel="stylesheet" href="../public/css/style.css" />

    <!-- Icon Title -->
    <title>OmNom Food Delivery</title>

    <!-- rSed Title Icon -->
    <link rel="icon" href="../public/img/rSedLogo.png" type="image/icon type" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <h1 align="center" style="padding-top: 75px; ">Italian</h1>

    <div id="container" class="cols" align="center">
      <div class="box">
        <a href="restaurantprofile/5e7d93619e52b628c8a42522" style="text-decoration: none;">
          <img
            src="https://www.qsrmagazine.com/sites/default/files/styles/story_page/public/Fazoli.jpg?itok=eyyuxHBy"
            alt="Fazoli's"
            class="image"
          />
          <div class="name">
            <p>Fazoli's</p>
          </div>
        </a>
      </div>

      <div class="box">
        <a href="restaurantprofile/5e7d94c07dbd613030b5e8fa" style="text-decoration: none;">
          <img
            src="https://media.olivegarden.com/images/site/ext/pages/_promotions/specials/lunch-duos-combos/lunch-duos-combos-012720-sdd-00.jpg"
            alt="Olive Garden"
            class="image"
          />
          <div class="name">
            <p>Olive Garden</p>
          </div>
        </a>
      </div>

      <div class="box">
        <a href="restaurantprofile/5e7d95f12d4c150d24019c67" style="text-decoration: none;">
          <img
            src="https://u.tfstatic.com/restaurant_photos/837/451837/169/612/pizzaioli-veraci-fuorigrotta-proposta-di-pizze-51275.jpg"
            alt="Pizzaioli"
            class="image"
          />
          <div class="name">
            <p>Pizzaioli</p>
          </div>
        </a>
      </div>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
