<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Fancy Fonts, Icons, and Logos -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <!-- CSS StyleSheet -->
    <link rel="stylesheet" href="../public/css/style.css" />

    <!-- Icon Title -->
    <title>OmNom Food Delivery</title>

    <!-- rSed Title Icon -->
    <link rel="icon" href="../public/img/rSedLogo.png" type="image/icon type" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>

    <h1 align="center" style="padding-top: 75px; ">Mediterranean</h1>

    <div id="container" class="cols" align="center">
      <div class="box">
        <a href="restaurantprofile/5e7dc45be5d125204c84e586" style="text-decoration: none;">
          <img
            src="https://kazamazagrill.com/wp-content/uploads/2018/06/Gallery1.png"
            alt="Kaza Maza"
            class="image"
          />
          <div class="name">
            <p>Kaza Maza</p>
          </div>
        </a>
      </div>

      <div class="box">
        <a href="restaurantprofile/5e7dc6d6fc503e279c35fa22" style="text-decoration: none;">
          <img
            src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_600,q_75,w_900/https://assets.simpleviewinc.com/simpleview/image/upload/crm/surfcityusa/Luna-Grill-337806f65056a36_33786fd1-5056-a36a-08dd28acb3746893.jpg"
            alt="Luna Grill"
            class="image"
          />
          <div class="name">
            <p>Luna Grill</p>
          </div>
        </a>
      </div>
    </div>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
