<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Fancy Fonts, Icons, and Logos -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <!-- CSS StyleSheet -->
    <link rel="stylesheet" href="../public/css/style.css" />

    <!-- Icon Title -->
    <title>OmNom Food Delivery</title>

    <!-- rSed Title Icon -->
    <link rel="icon" href="../public/img/rSedLogo.png" type="image/icon type" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>

    <h1 align="center" style="padding-top: 75px; ">Mexican</h1>

    <div id="container" class="cols" align="center">
      <div class="box">
        <a href="restaurantprofile/5e7d983279fdd01d28baeaf6" style="text-decoration: none;">
          <img
            src="https://photos.bringfido.com/restaurants/temp/131e.jpg?size=stack&density=2x"
            alt="Miguel’s Jr"
            class="image"
          />
          <div class="name">
            <p>Miguel’s Jr</p>
          </div>
        </a>
      </div>

      <div class="box">
        <a href="restaurantprofile/5e7d995370ccb23eccad3536" style="text-decoration: none;">
          <img
            src="https://www.qsrmagazine.com/sites/default/files/styles/story_page/public/story/el-pollo-loco-reduces-menu-20-percent-1557163330.jpg?itok=jJS74Dt9"
            alt="El Pollo Loco"
            class="image"
          />
          <div class="name">
            <p>El Pollo Loco</p>
          </div>
        </a>
      </div>

      <div class="box">
        <a href="restaurantprofile/5e7d9cd1a6b3261da8a57a3b" style="text-decoration: none;">
          <img
            src="https://raster-static.postmates.com/?url=com.postmates.img.prod.s3.amazonaws.com/c0b2bbf2-6d97-4a2f-9430-577dfe4af84e/orig.png&quality=90&w=1500&h=900&mode=crop&format=png&v=4"
            alt="Alberto's"
            class="image"
          />
          <div class="name">
            <p>Alberto's Mexican Food</p>
          </div>
        </a>
      </div>
    </div>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
