body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url(../img/FoodBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 600px;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 100px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .h2 {
  color: #ffd700;
}

#home-section hr {
  border: none;
  height: 5px;
  color: #ffd700;
  background-color: #ffd700;
}

#profile-section {
  background: url(../img/FoodBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1500px;
}

#profile-section .shamelessly-copied-dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1500px;
  background: rgba(0, 0, 0, 0.7);
}

#profile-section .profile-inner-thing {
  padding: 50px;
  padding-top: 80px;
  width: 80%;
  /*background: rgba(256, 256, 0, 0.5);*/
  min-height: 2000px;
}
#delete-form {
  display: inline;
}

#restaurants-section {
  background: url(../img/FoodBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 2000px;
}
.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  object-fit: cover;
}

.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}
.thumbnails:before,
.thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}

.thumbnails:after {
  clear: both;
}

.row-fluid .thumbnails {
  margin-left: 0;
}

.thumbnails > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.thumbnail {
  display: block;
  padding: 3px;
  line-height: 20px;
  border: 1px solid rgba(256, 256, 0, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
  color: #ffffff;
}

.name {
  text-align: center;
  color: #ffd700;
  font-weight: bold;
}

#container {
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}
.cols {
  column-count: 3;
  column-gap: 20px;
}
.box {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  margin-bottom: 20px;
  height: 250px;
  width: 400px;
  max-height: 100%;
  max-width: 100%;

  background: red;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 4px solid black;
}
.image {
  width: 100%;
  height: 90%;
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 65px;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidepanel a {
  padding: 4px 4px 4px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: white;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: black;
}

.chips {
  /*display: inline-block;*/
  padding: 5px;
  font-size: 20px;
  color: red;
  background-color: #ffd700;
}

.carousel-item {
  height: 400px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  height: 100px;
  width: 100px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  height: 100px;
  width: 100px;
}

.carousel-image-asian {
  background: url("https://www.101corpuschristi.com/uploads/media/default/0001/23/fef92b31aa597167a112c932f2777db7941a79d3.jpeg");
  background-size: cover;
}

.carousel-image-italian {
  background: url("https://bstatic.com/xdata/images/xphoto/1182x887/68794608.jpg?k=155689446d1aa48adbda2d0977fcd6d7608a9f9151562b5055f4baa366583eed&o=?size=S");
  background-size: cover;
}

.carousel-image-mexican {
  background: url("https://res.cloudinary.com/popmenu/image/upload/c_limit,f_auto,h_1440,q_auto,w_1440/o0oohveni7vnesjyhd8a.jpg");
  background-size: cover;
}

.carousel-image-mediterranean {
  background: url("https://res.cloudinary.com/popmenu/image/upload/c_limit,f_auto,h_1440,q_auto,w_1440/eravk4xxappila2pn4sg.jpg");
  background-size: cover;
}

.carousel-image-indian {
  background: url("https://www.blueosa.com/wp-content/uploads/2020/01/the-best-top-10-indian-dishes.jpg");
  background-size: cover;
}

.carousel-image-american {
  background: url("https://naturallysavvy.com/wp-content/uploads/2018/11/Why-is-the-American-Diet-so-full-of-Unhealthy-Foods-696x436.jpg");
  background-size: cover;
}

.display-1 {
  color: red;
  font-weight: 900;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffd700;
}
.lead {
  color: red;
  font-weight: 900;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ffd700;
}
